.keywordMemo{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.navPanel{
    max-width: 50%;
    width: 100%;
    height: 100%;
}